.container {
  width: 620px;
  height: 80vh;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0px;
}
.formFieldContainer {
  height: 70vh;
  overflow: auto;
  padding: 10px;
  margin: 0px;
  scrollbar-width: thin;
}
.formTitle {
  text-align: center;
  background: #0d6efd;
  color: white;
  padding: 10px;
}
.formContainer {
  /* background-image: url("./images/cow_statue"); */
  background: rgb(235, 110, 8);
  background: linear-gradient(
    90deg,
    rgba(235, 110, 8, 1) 0%,
    rgba(253, 164, 29, 1) 50%,
    rgba(252, 225, 69, 1) 100%
  );

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
}
.formModal {
  width: 900px;
  height: 800px;
  border-radius: 10px;
}
.required-asterisk::after {
  content: " *";
  color: red;
}
