@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  font-family: "Arima", system-ui !important;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
